/strongdoc-nodejs-sdk.iml
/.idea/
*.DS_Store

node_modules/
node_modules/**

#for the download of encrypted info. Not needed.
test/testdocs/encrypted_doc

#temporary for troubleshoot race condition
local.js